/* import glob-variables */
@import 'style-guide';

body {
    background: $offBlack;
    font-size: 14px;
    font-family: 'Inter';
    color: $white;
}

.panel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 550px;
    background: $darkGrey;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    overflow: hidden;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 85px 40px 30px 30px 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
        'img'
        'name'
        'location'
        'banner'
        'button-1'
        'button-2'
        'button-3'
        'button-4'
        'button-5';

    section {
        display: flex;
        justify-content: center;
    }

    button {
        width: 100%;
        border: 0;
        border-radius: 5px;
        background: $grey;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 38px;
        transition: all 0.3s ease;

        &:hover {
            background: $green;
            color: $darkGrey;
            cursor: pointer;
        }
    }

    p {
        margin: 0px;
    }

    img {
        border-radius: 50%;
        height: 85px;
        width: 85px;
    }

    .image {
        grid-area: img;
    }

    .name {
        grid-area: name;
        font-size: 23px;
        font-weight: 600;
        align-items: end;
    }

    .location {
        grid-area: location;
        color: $green;
        font-weight: 600;
    }

    .banner {
        grid-area: banner;
        align-items: end;
        padding-bottom: 7px;
    }

    .button-1 {
        grid-area: button-1;
    }

    .button-2 {
        grid-area: button-2;
    }

    .button-3 {
        grid-area: button-3;
    }

    .button-4 {
        grid-area: button-4;
    }

    .button-5 {
        grid-area: button-5;
    }
}

.attribution {
    color: $grey;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;

    a:link {
        color: $grey;
    }
}
