/* Colors - Primary */

$green: hsl(75, 94%, 57%);

/* Colors - Neutral */

$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 20%);
$darkGrey: hsl(0, 0%, 12%);
$offBlack: hsl(0, 0%, 8%);

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
